:root {
	--base: Peru;
	--intrigue: LightSlateGray;
	--seaside: SlateBlue;
	--alchemy: Purple;
	--prosperity: #CDE472; /* iceberg lettuce */
	--hinterlands: PaleGreen;
	--dark-ages: #CD6600; /* darkorange3 */
	--cornucopia: Orange;
	--guilds: HotPink;
	--adventures: SlateGray;
	--empires: Gold;
	--nocturne: #1B3F8B; /* alaska sky */
	--renaissance: #7AE5EB; /* variant of cadetblue2 */
	--menagerie: tan;
	--promo: black;
}

.Base, .base {
	background-color: var(--base);
	color: black;
}

.Intrigue, .intrigue {
	background-color: var(--intrigue);
	color: black;
}

.Seaside, .seaside {
	background-color: var(--seaside);
	color: white;
}

.Alchemy, .alchemy {
	background-color: var(--alchemy);
	color: white;
}

.Prosperity, .prosperity {
	background-color: var(--prosperity);
	color: black;
}

.Hinterlands, .hinterlands {
	background-color: var(--hinterlands);
	color: black;
}

.Dark-Ages, .dark-ages {
	background-color: var(--dark-ages);
	color: white;
}

.Cornucopia, .cornucopia {
	background-color: var(--cornucopia);
	color: black;
}

.Guilds, .guilds {
	background-color: var(--guilds);
	color: black;
}

.Adventures, .adventures {
	background-color: var(--adventures);
	color: white;
}

.Empires, .empires {
	background-color: var(--empires);
	color: black;
}

.Nocturne, .nocturne {
	background-color: var(--nocturne);
	color: white;
}

.Renaissance, .renaissance {
	background-color: var(--renaissance);
	color: black;
}

.Menagerie, .menagerie {
	background-color: var(--menagerie);
	color: black;
}

.Promo, .promo {
	background-color: var(--promo);
	color: white;
}
