:root {
	--set-color: #0276FD;
	--promo-color: #E3170D;

	--action: gainsboro;
	--victory: #7BCC70; /* nightvision */
	--reaction: #4F94CD; /* steelblue */
	--treasure: #FBDB0C; /* gummi yellow */
	--duration: #ED9121; /* carrot */
	--night: dimgray;
	--reserve: #B5A642; /* brass */

	--event: silver;
	--landmark: #55AE3A; /* leaf */
	--project: lightcoral;
	--way: #82CFFD; /* blue mist */
}

.kingdom {
	display: flex;
	flex-wrap: wrap;
}

.set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.set-header{
	height: 30px;
	background-color: lightgray;
	font-family: 'Fira Sans';
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
	/* border-radius: 10px 10px 0 0; */
}

.cards {
	display: flex;
}

.card {
	width: 120px;
}

.landscape {
	width: 180px;
}

.card, .landscape {
	position: relative;
	height: 120px;
	display: flex;
	flex-direction: column;
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
}

.name {
	font-family: 'Nova Oval';
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cost {
	background-image: url(coin.svg);
	font-family: 'Fira Sans';
	font-size: 14px;
	color: black;
	
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.coins {
	background-image: url(coin-text.svg);
	background-size: 100% 100%;

	display: inline-block;

	width: 14px;
	height: 14px;

	font-family: 'Nova Oval';
	font-size: 10px;
	color: black;

	text-align: center;
	line-height: 14px;
}

:not(.selectable) {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.action, .Action {
	background-color: var(--action);
	color: black;
}

.reaction, .Reaction {
	background-color: var(--reaction);
	color: black;
}

.treasure, .Treasure {
	background-color: var(--treasure);
	color: black;
}

.victory, .Victory {
	background-color: var(--victory);
	color: black;
}

.reserve, .Reserve {
	background-color: var(--reserve);
	color: black;
}

.night, .Night {
	background-color: var(--night);
	color: white;
}

.duration, .Duration {
	background-color: var(--duration);
	color: black;
}

.event, .Event {
	background-color: var(--event);
	color: black;
}

.landmark, .Landmark {
	background-color: var(--landmark);
	color: black;
}

.project, .Project {
	background-color: var(--project);
	color: black;
}

.way, .Way {
	background-color: var(--way);
	color: black;
}

.base {
	background-color: var(--action);
	color: black;
}

.intrigue {
	background-color: var(--action);
	color: black;
}

.seaside {
	background-color: SlateBlue;
	color: black;
}

.alchemy {
	background-color: Purple;
	color: black;
}

.prosperity {
	background-color: PaleGoldenrod;
	color: black;
}

.hinterlands {
	background-color: PaleGreen;
	color: black;
}

.dark-ages {
	background-color: #CD6600; /* darkorange3 */
	color: white;
}

.cornucopia {
	background-color: DarkOrange;
	color: black;
}

.guilds {
	background-color: HotPink;
	color: black;
}

.adventures {
	background-color: SlateGray;
	color: white;
}

.empires {
	background-color: Gold;
	color: black;
}

.nocturne {
	background-color: #1B3F8B; /* alaska sky */
	color: white;
}

.renaissance {
	background-color: DarkTurquoise;
	color: black;
}

.menagerie {
	background-color: Tan;
	color: black;
}

.promo {
	background-color: Black;
	color: white;
}

.hide {
	display: none;
}

a {
	text-decoration: none;
}