.kingdom {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.set-header {
	height: 32px;
	margin-bottom: 8px;
	font-family: 'Fira Sans';
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 16px 16px 0 0; */
}

.cards {
	display: flex;
}

.card {
	width: 120px;
}

.landscape {
	width: 180px;
}

.card, .landscape {
	position: relative;
	height: 120px;
	display: flex;
	flex-direction: column;
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
}

.name {
	font-family: 'Nova Oval';
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cost {
	background-image: url(coin.svg);
	font-family: 'Fira Sans';
	font-size: 14px;
	color: black;
	
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.coins {
	background-image: url(coin-text.svg);
	background-size: 100% 100%;

	display: inline-block;

	width: 14px;
	height: 14px;

	font-family: 'Nova Oval';
	font-size: 10px;
	color: black;

	text-align: center;
	line-height: 14px;
}

:not(.selectable) {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hide {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}
