.kingdom {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.set-header {
	height: 32px;
	margin-bottom: 8px;
	font-family: 'Fira Sans';
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 16px 16px 0 0; */
}

.cards {
	display: flex;
}

.card {
	width: 120px;
}

.landscape {
	width: 180px;
}

.card, .landscape {
	position: relative;
	height: 120px;
	display: flex;
	flex-direction: column;
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
}

.name {
	font-family: 'Nova Oval';
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cost {
	font-family: 'Fira Sans';	
	background-image: url(coin.svg);
	font-size: 14px;
	color: black;
	
	width: 16px;
	height: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.coins {
	background-image: url(coin-text.svg);
	background-size: 100% 100%;

	display: inline-block;

	width: 14px;
	height: 14px;

	font-family: 'Nova Oval';
	font-size: 10px;
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

:not(.selectable) {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.setup {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.separator {
	background-color: black;
	color: white;
	font-family: 'Fira Sans';
	font-size: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 40px;
	padding: 4px;
	margin: 20px;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 180px;
	height: 180px;
	display: flex;
	flex-direction: column;
	outline: 3px outset rgba(0, 0, 0, .4);
	outline-offset: -3px;
	cursor: pointer;
}

.box-name {
	font-family: 'Nova Oval';
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 42px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selector:not(.selected) {
	--p: 0.4;
	filter: contrast(calc(var(--p) / (2 - var(--p)))) brightness(calc(2 - var(--p)));
}

.selector:not(.selected) img {
	filter: grayscale(100%);
}

.hide {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.toggle {
	margin: 8px;
	font-family: 'Fixedsys';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 26px;
	height: 26px;
	padding: 2px;
	
}

.toggle.set-on {
	background-color: green;
	color: yellow;
}

.toggle:not(.set-on) {
	background-color: lightgray;
	color: DimGray;
}


