.kingdom {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.set-header {
	height: 32px;
	margin-bottom: 8px;
	font-family: 'Fira Sans';
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 16px 16px 0 0; */
}

.cards {
	display: flex;
}

.card {
	width: 120px;
}

.landscape {
	width: 180px;
}

.card, .landscape {
	position: relative;
	height: 120px;
	display: flex;
	flex-direction: column;
	
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
}

.name {
	font-family: 'Nova Oval';
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cost {
	font-family: 'Fira Sans';	
	background-image: url(coin.svg);
	font-size: 14px;
	color: black;
	
	width: 16px;
	height: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.selectors {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: flex-end;
}

.selector {
	height: 32px;
	font-family: 'Fira Sans';
	font-size: 16px;
	display: flex;
	justify-content: left;
	margin-bottom: 8px;
	cursor: pointer;
}

.selector-selected {
	border-radius: 32px 0 0 32px;
}

.selector-name {
	padding-left: 8px;
	width: 120px;
	display: flex;
	justify-content: left;
	align-items: center;
}

/*
.selector-selected > .selector-name {
	outline: 1px dotted white;
	outline-offset: -1px;
}
*/

:not(.selector-selected) > .selector-name {
	font-style: italic;
}

.check {
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

:not(.selector-selected) > .check {
	display: none;
}

:not(.selectable) {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hide {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}
