.action {
	background-color: Gainsboro;
	color: black;
}

.reaction {
	background-color: #4F94CD; /* steelblue */
	color: black;
}

.treasure {
	background-color: #FBDB0C; /* gummi yellow */
	color: black;
}

.victory {
	background-color: #7BCC70; /* nightvision */
	color: black;
}

.reserve {
	background-color: #B5A642; /* brass */
	color: black;
}

.night {
	background-color: DimGray;
	color: white;
}

.duration {
	background-color: #ED9121; /* carrot */
	color: black;
}

/* Landscapes */

.event {
	background-color: Silver;
	color: black;
}

.landmark {
	background-color: #55AE3A; /* leaf */
	color: black;
}

.project {
	background-color: LightCoral;
	color: black;
}

.way {
	background-color: #82CFFD; /* blue mist */
	color: black;
}
