.action, .Action {
	background-color: Gainsboro;
	color: black;
}

.reaction, .Reaction {
	background-color: #4F94CD; /* steelblue */
	color: black;
}

.treasure, .Treasure {
	background-color: #FBDB0C; /* gummi yellow */
	color: black;
}

.victory, .Victory {
	background-color: #7BCC70; /* nightvision */
	color: black;
}

.reserve, .Reserve {
	background-color: #B5A642; /* brass */
	color: black;
}

.night, .Night {
	background-color: DimGray;
	color: white;
}

.duration, .Duration {
	background-color: #ED9121; /* carrot */
	color: black;
}

/* Landscapes */

.event, .Event {
	background-color: Silver;
	color: black;
}

.landmark, .Landmark {
	background-color: #55AE3A; /* leaf */
	color: black;
}

.project, .Project {
	background-color: LightCoral;
	color: black;
}

.way, .Way {
	background-color: #82CFFD; /* blue mist */
	color: black;
}
