.Action, .action {
	background-color: Gainsboro;
	color: black;
}

.Reaction, .reaction {
	background-color: #4F94CD; /* steelblue */
	color: black;
}

.Treasure, .treasure {
	background-color: #FBDB0C; /* gummi yellow */
	color: black;
}

.Victory, .victory {
	background-color: #7BCC70; /* nightvision */
	color: black;
}

.Reserve, .reserve {
	background-color: #B5A642; /* brass */
	color: black;
}

.Night, .night {
	background-color: DimGray;
	color: white;
}

.Duration, .duration {
	background-color: #ED9121; /* carrot */
	color: black;
}

/* Landscapes */

.Event, .event {
	background-color: Silver;
	color: black;
}

.Landmark, .landmark {
	background-color: #55AE3A; /* leaf */
	color: black;
}

.Project, .project {
	background-color: LightCoral;
	color: black;
}

.Way, .way {
	background-color: #82CFFD; /* blue mist */
	color: black;
}
